# EditorConfig helps developers define and maintain consistent
# coding styles between different editors and IDEs
# editorconfig.org

root = true

# General settings
[*]

indent_style = space
indent_size = 2
insert_final_newline = true
end_of_line = lf
charset = utf-8
