---
import { getUIStories, UI_VERSION } from '@/lib/getUIData';
import { fetchStoryCode } from '@/lib/fetchStoryCode';
import ReactComponentStory, { type ComponentStoryProps } from '@/components/ComponentStory';

type Props = {
  name: string;
  dirName?: string;
} & Pick<ComponentStoryProps, 'noMargin'>;

const { name, dirName, ...props } = Astro.props;

// Propsから該当するStoryを探す
const stories = getUIStories(name, dirName);
if (!stories) {
  throw new Error(`Storiesが見つかりませんでした: name=${name} dirName=${dirName}`);
}

// Storyのコードを取得
const code = await fetchStoryCode(UI_VERSION, stories.filePath);
---

<ReactComponentStory {...props} stories={stories} code={code} client:only="react">
  <div class="fallback" slot="fallback"></div>
</ReactComponentStory>

<style lang="scss">
  // レイアウトシフトを軽減するため
  .fallback {
    margin-block: 48px 0;
    height: 751px;
  }
</style>
