.componentGroupSection {
  && {
    >h2 {
      margin-top: 64px;
      font-size: var(--font-size-20);
    }
  }
}

.componentList {
  && {
    display: flex;
    flex-wrap: wrap;
    gap: 16px 8px;
    list-style: none;
    margin-block-start: 16px;
    padding: 0;

    img {
      display: block;
    }

    div {
      margin: 0;
      padding: 0;
      border: var(--border-shorthand);
    }

    p {
      margin-block-start: 0;
    }
  }
}
