---
import type { FC, ReactNode } from 'react';
import { FaLinkIcon } from 'smarthr-ui';

type HeadingTagTypes = 'h2' | 'h3' | 'h4' | 'h5' | 'h6' | 'span';

interface Props {
  className?: string;
  id: string;
  tag?: HeadingTagTypes;
  children: ReactNode;
}

const { id, tag = 'h2' } = Astro.props;

const Wrapper: FC<Props> = ({ tag }) => tag as keyof JSX.IntrinsicElements;
---

<Wrapper className="wrapper" id={id} tag={tag}>
  <a href={`#${id}`}>
    <FaLinkIcon className="icon" />
    <slot />
  </a>
</Wrapper>

<style lang="scss">
  .wrapper {
    position: relative;
    scroll-margin-top: 80px;

    a {
      color: inherit;
      text-decoration: none;

      &:hover,
      &:focus {
        text-decoration: underline;

        .icon {
          visibility: visible;
        }
      }
    }
  }

  .icon {
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
    left: -24px;
    visibility: hidden;
    font-size: var(--font-size-16);
  }
</style>
