:root {
  --font-size-10: 0.625rem;
  --font-size-11: 0.688rem;
  --font-size-12: 0.75rem;
  --font-size-13: 0.813rem;
  --font-size-14: 0.875rem;
  --font-size-15: 0.938rem;
  --font-size-16: 1rem;
  --font-size-18: 1.125rem;
  --font-size-20: 1.25rem;
  --font-size-24: 1.5rem;
  --font-size-26: 1.625rem;
  --font-size-28: 1.75rem;
  --font-size-36: 2.25rem;
  --font-size-48: 3rem;
  --font-size-52: 3.25rem;
  --font-size-54: 3.375rem;

  --color-black: #000;
  --color-white: #fff;
  --color-text-black: #23221f;
  --color-text-grey: #706d65;
  --color-main-darken: #0065a9;
  --color-divider: #edebe6;
  --color-divider-search-h2: #c4c4c4;
  --color-nav-active: #0f7f85;
  --color-smarthr-blue: #00c4cc;
  --color-dark-grey-1: #4e4c49;
  --color-light-grey-1: #d6d3d0;
  --color-light-grey-2: #f2f1f0;
  --color-light-grey-3: #f8f7f6;
  --color-light-grey-4: #aaa69f;
  --color-bg-blue: #0077c7;
  --color-danger: #e01e5a;
  --color-caution-default: #f60;
  --color-caution-light: #fff9f2;
  --color-caution-heavy: #f70;
  --color-semantics-column: #f8f7f6;
  --color-semantics-border: #d6d3d0;
  --color-warning: #ff8800;

  --size-content-width: 74.5em;

  --border-shorthand: 1px solid var(--color-semantics-border);

  --leading-tight: 1.25;
  --leading-normal: 1.5;

  --header-height: 112px;
}

@font-face {
  font-family: SDSYuGothic;
  font-weight: 400;
  src: local('Yu Gothic Medium');
}

@font-face {
  font-family: SDSYuGothic;
  font-weight: 700;
  src: local('Yu Gothic Bold');
}
