---
import { IntlProvider, PageHeading } from 'smarthr-ui';
import Layout from '@/layouts/Layout.astro';
import Header from '@/components/Header/Header.astro';
import Footer from '@/components/Footer.astro';
import IndexList from '@/components/search/IndexList.astro';
import SearchBox from '@/components/search/Search/SearchBox';
---

<Layout title="検索" description="検索ページです。">
  <div class="wrapper">
    <Header />

    <main class="main">
      <IntlProvider locale="ja" client:load>
        <PageHeading className="pageHeading" id="label-for-search-input">SmartHR Design Systemを検索</PageHeading>
      </IntlProvider>
      <div class="search ais-SearchBox__root">
        <SearchBox client:only="react">
          {
            // client:loadでもSearchBoxが遅れて表示されCLSが起こるので、
            // client:onlyを使い同じ高さのフォールバックを表示することでCLSを軽減しています
          }
          <div class="fallback" slot="fallback"></div>
        </SearchBox>
      </div>
    </main>
    <IndexList />
    <Footer />
  </div>
</Layout>

<style lang="scss">
  .wrapper {
    display: flex;
    flex-direction: column;
    height: 100%;

    & > :global(header) {
      flex: 0 0 auto;
    }
  }

  .main {
    padding-inline: 16px;

    @include breakpointMobile3 {
      margin-top: 0;
    }
  }

  .pageHeading {
    margin-block: 140px 40px;
    font-weight: bold;
    font-size: 2rem;
    text-align: center;
    line-height: 1.25;
  }

  .search {
    color: var(--color-text-black);
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .fallback {
    height: 110px;
  }
</style>
