// SmartHR UIのDialogコンポーネントをカスタマイズする
body {
  #panel-menu .smarthr-ui-Dialog-background {
    background: transparent;
  }

  #panel-menu .smarthr-ui-Dialog {
    width: auto;
    max-width: 396px;
    border-radius: 8px;
    box-shadow: 0 4px 8px 2px rgba(0, 0, 0, 0.24);
    bottom: 16px;
    max-height: 678px;
  }
}
