---
import { Cluster, FaSearchIcon } from 'smarthr-ui';
import FootStaticLinks from '../FootStaticLinks.astro';
import HeaderItems from './HeaderItems.astro';
import MobileMenuContainer from './MobileMenuContainer';

type Props = {
  isIndex?: boolean;
};

const { isIndex } = Astro.props;
---

<header class:list={{ wrapper: true, isIndex }}>
  <Cluster gap={{ row: 0.75, column: 1 }} align="center" justify="space-between">
    <a class="siteNameLink" href="/">
      <img src="/images/logo_smarthr_design_system.svg" alt="SmartHR Design System" width="264" height="24" />
    </a>
    <Cluster className="linkMenu" gap={{ row: 0.75, column: 0.5 }} justify="flex-start" as="nav">
      <ul class="-optional">
        <li>
          <a class="searchLink" href="/search/">
            <FaSearchIcon />
            さがす
          </a>
        </li>
      </ul>
      <ul>
        <HeaderItems />
      </ul>
      <MobileMenuContainer client:only="react">
        <ul class="categoryUl">
          <HeaderItems isMobileMenu />
        </ul>
        <div class="menuFootLinkContainer">
          <FootStaticLinks />
        </div>
      </MobileMenuContainer>
    </Cluster>
  </Cluster>
</header>

<style lang="scss">
  .wrapper {
    /* サイト名やリンクに 10px の padding をもたせたので差し引いてる */
    padding-block: 30px;
    padding-inline: 70px;
    background-color: var(--color-white);

    @include breakpointPC2 {
      padding-inline: 48px;
    }

    &.isIndex {
      @include breakpointMobile2 {
        padding-inline: 24px;
      }
    }

    &:not(.isIndex) {
      border-bottom: 1px solid var(--color-light-grey-1);

      @include breakpointMobile3 {
        padding-inline: 24px;
      }
    }
  }

  .siteNameLink {
    padding: 6px 10px;

    @include breakpointMobile2 {
      padding: revert;
    }

    img {
      display: block;

      @include breakpointMobile3 {
        width: 204px;
        height: auto;
      }
    }
  }

  .linkMenu {
    flex-direction: row-reverse;
    margin-inline-start: auto;

    ul {
      display: flex;
      list-style: none;
      margin: 0;
      padding: 0;
      gap: 6px;

      @include breakpointMobile3 {
        display: none;
      }

      &.-optional {
        @include breakpointMobile3 {
          display: none;
        }
      }
    }

    li {
      display: flex;
      align-items: center;
    }
  }

  .searchLink {
    display: inline-flex;
    gap: 8px;
    align-items: center;
    padding: 10px;
    color: inherit;
    text-decoration: none;
    font-weight: bold;
    line-height: 1;
    white-space: nowrap;

    &:hover {
      color: var(--color-nav-active);
    }
  }

  .categoryUl {
    list-style: none;
    margin: 0;
    padding: 0;

    :global(li) {
      &:not(:last-child) {
        margin-bottom: 8px;
      }
    }

    :global(a) {
      font-weight: bold;
      line-height: 2.62;
      color: inherit;
      text-decoration: none;

      &:hover {
        text-decoration: underline;
      }
    }
  }

  .menuFootLinkContainer {
    display: grid;
    grid-template-columns: 100%;
    gap: 24px;
    align-content: start;
    justify-items: start;
  }
</style>
