.preContainer {
  font-family: monospace;
  margin-block: 16px 0;
  border: 1px solid var(--color-semantics-border);
  background-color: var(--color-light-grey-3);
  overflow-x: scroll;

  & > button {
    position: absolute;
    top: 1.5rem;
    right: 1.5rem;
  }

  /* preのデフォルトは display: block; で幅100%になるが、100%を超えられるように上書き(祖先要素には横スクロールを適用) */
  pre {
    width: max-content;
    min-width: 100%;
    min-height: 100%;
    margin: 0;
    padding: 2.75rem 1.5rem 1.5rem;
    box-sizing: border-box;
  }

  /* LiveEditor内で preに white-space: pre-wrap; が適用されているため、文字を強制的に折り返すようにする */
  * {
    word-break: break-all;
  }
}

.preContainerStorybook {
  margin: 0;
  height: 300px;
  border: 0;
  overflow: scroll;
  resize: vertical;
}
