---
import { PageHeading } from 'smarthr-ui';
import InlineTexts from '@/components/InlineTexts.astro';
import FloatingTextLink from './FloatingTextLink.astro';
---

<div class="introductionContainer">
  <PageHeading className="pageHeading">
    <InlineTexts texts={['だれでも・', '効率よく・', '迷わずに。']} as="span" />
  </PageHeading>
  <p class="text">
    <InlineTexts
      texts={[
        'SmartHR Design Systemは、',
        'すべての人によりよい体験を届けるためのデザインシステムです。',
        'SmartHRに関わる人はどなたでも利用・参加できます。',
      ]}
      as="span"
    />
  </p>
  <p class="text">
    <FloatingTextLink path="/introduction/">デザインシステムとは？</FloatingTextLink>
  </p>
</div>
<div class="indexImageContainer">
  <img
    src="/images/index_introduction_illust.png"
    width="320"
    height="180"
    alt="こちらに手をふる人々。SmartHR社の人物や、そうでない人たち、そしてかわいいねこ。"
  />
</div>

<style lang="scss">
  .introductionContainer {
    width: 70%;
    margin: 0 0 0 auto;

    @include breakpointMobile2 {
      box-sizing: border-box;
      width: 100%;
      max-width: 420px;
      padding: 0 16px;
      margin-left: 0;
    }

    @include breakpointMobile1 {
      margin: 0;
    }
  }

  .pageHeading {
    font-size: var(--font-size-54);
    font-weight: normal;
    margin: 0 0 24px;
    line-height: 1.25;
    letter-spacing: 0.1rem;
    word-break: normal;

    > :global(span) {
      display: inline-block;
    }

    @include breakpointMobile3 {
      font-size: var(--font-size-48);
      line-height: 1.5;
    }
  }

  .text {
    font-size: var(--font-size-20);
    font-weight: normal;
    margin: 0 0 24px auto;
    line-height: 1.9;
    word-break: normal;
    letter-spacing: 1.5px;

    > :global(span) {
      display: inline-block;
    }

    @include breakpointMobile3 {
      font-size: var(--font-size-16);
      line-height: 2;

      > :global(span) {
        display: inline;
      }
    }
  }

  .indexImageContainer {
    margin: 20px 0 0;
    padding: 0 16px;

    > img {
      display: block;
      margin: 0 0 0 auto;
      max-width: 50%;
      height: auto;
    }

    @include breakpointMobile3 {
      margin: 72px 0 120px;
      border-bottom: solid 1px var(--color-light-grey-1);

      > img {
        max-width: 192px;
      }
    }

    @include breakpointMobile2 {
      margin: 80px 0 0;
      padding: 0;

      > img {
        margin: 0 auto;
        max-width: 50%;
      }
    }
  }
</style>
