---
import type { CollectionEntry } from 'astro:content';
import { type Props as HeadProps } from '@/components/Head.astro';
import { Article } from 'smarthr-ui';
import Layout from '@/layouts/Layout.astro';
import Sidebar from '@/components/Sidebar/Sidebar.astro';
import { createSidebarItem } from '@/lib/createSidebarItem';

type Props = Pick<CollectionEntry<'articles'>, 'slug'> & HeadProps;

const { slug } = Astro.props;

const { nestedSidebarItems } = await createSidebarItem(slug);
---

<Layout {...Astro.props}>
  <div class="wrapper">
    <main class="main">
      <div class="mainSidebar">
        <Sidebar path={`/${slug}`} nestedSidebarItems={nestedSidebarItems} />
      </div>
      <Article className="article">
        <h1 class="articleTitle">{Astro.props.title}</h1>
        <div class="mdxStyleWrapper">
          <slot />
        </div>
      </Article>
    </main>
  </div>
</Layout>

<style>
  .wrapper {
    display: flex;
    flex-direction: column;
    height: 100%;

    & > header {
      flex: 0 0 auto;
    }

    & > footer {
      flex: 0 0 auto;
    }
  }

  .main {
    flex: 1 1 auto;
    display: grid;
    grid-template: 'sidebar article index' auto / 1fr minmax(auto, 712px) 1fr;

    @media (max-width: var(--size-breakpoint-pc-1)) {
      grid-template: 'sidebar article .' auto / 1fr minmax(auto, 712px) minmax(40px, 1fr);
    }

    @media (max-width: var(--size-breakpoint-mobile-3)) {
      grid-template:
        'sidebar sidebar sidebar'
        'index index index'
        '. article .'
        / minmax(40px, 1fr) minmax(auto, 712px) minmax(40px, 1fr);
      margin-top: 0;
    }
  }

  .mainSidebar {
    grid-area: sidebar;
    box-sizing: border-box;
    display: grid;
    grid-template-columns: [space] minmax(40px, 1fr) [nav] 232px;
    border-right: 1px solid var(--color-light-grey-1);
    margin-right: 40px;

    /* 位置固定用のスタイル */
    position: sticky;
    top: 0;
    align-self: start;
    height: 100vh;

    & > :global(*) {
      grid-column: nav;
    }

    @media (max-width: var(--size-breakpoint-mobile-3)) {
      display: block;
      position: static;
      height: auto;
      margin: 0;
      border-right: 0;
    }
  }

  .article {
    grid-area: article;
    min-width: 0;
    padding-top: 112px;
    padding-bottom: 240px;

    @media (max-width: var(--size-breakpoint-mobile-3)) {
      padding-bottom: 112px;
    }
  }

  .articleTitle {
    margin: 0;
    font-size: var(--font-size-52);
    line-height: 1.32;
  }

  .mdxStyleWrapper {
    padding-block-start: 40px;

    > *:first-child {
      margin-block-start: 0;
    }

    /* 画像 */
    img {
      display: block;
      max-width: 100%;
      height: auto;
    }

    /* Level2 */
    h2 {
      font-size: var(--font-size-36);
      line-height: 1.22;
      margin-block: 120px 0;
      font-weight: bold;
    }

    /* Level3 */
    h3 {
      font-size: var(--font-size-26);
      line-height: 1.38;
      margin-block: 80px 0;
    }

    /* Level4 */
    h4 {
      font-size: var(--font-size-18);
      line-height: 1.56;
      margin-block: 60px 0;
    }

    /* Level5 */
    h5 {
      font-size: var(--font-size-16);
      line-height: 1.76;
      margin-block: 40px 0;
    }

    /* 連続する見出し */
    h2 + h3 {
      margin-block: 20px 0;
    }

    h3 + h4,
    h4 + h5 {
      margin-block: 16px 0;
    }

    /* 本文 */
    p {
      font-size: var(--font-size-16);
      line-height: 2.12;
      margin-block: 20px 0;
    }

    /* リスト */
    ul,
    ol {
      font-size: var(--font-size-16);
      line-height: 2.12;
      margin-block: 20px 0;
      padding-inline-start: 2.5em;

      ul,
      ol {
        margin-block-start: 0;
      }
    }

    /* 表組み */
    table {
      margin-block: 20px 0;
      width: 100%;

      th {
        height: 2.5rem;
        vertical-align: middle;
        font-size: var(--font-size-14);
        background-color: var(--color-divider);
      }

      td {
        p:first-child,
        ul:first-child,
        ol:first-child {
          margin-block-start: 0;
        }
      }
    }

    code {
      padding: 0.125rem 0.25rem;
      border-radius: 4px;
      background-color: var(--color-light-grey-2);
      font-size: var(--font-size-14);
      vertical-align: 0.05rem;
      margin: 0.125rem;
    }

    /* 動画 */
    .youtube {
      aspect-ratio: 16/9;
      width: 100%;
      max-width: 100%;
    }
  }
</style>
