name: (Test) Deploy to netlify

on:
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Setup NodeJS
        uses: actions/setup-node@v3

      - name: Create .env file
        run: |
          touch .env
          npx netlify-cli env:list --plain >> .env
        env:
          NETLIFY_AUTH_TOKEN: ${{ secrets.NETLIFY_AUTH_TOKEN }}
          NETLIFY_SITE_ID: ${{ secrets.NETLIFY_SITE_ID }}

      - name: Install dependencies
        run: yarn install --frozen-lockfile --ignore-engines

      - run: yarn clean
      - run: yarn build

      - name: 生成されたpublicディレクトリを確認
        uses: actions/upload-artifact@v2
        with:
          path: public

      # - run: npx netlify-cli deploy --prod --dir=./public
      #   env:
      #     NETLIFY_AUTH_TOKEN: ${{ secrets.NETLIFY_AUTH_TOKEN }}
      #     NETLIFY_SITE_ID: ${{ secrets.NETLIFY_SITE_ID }}
